<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/landing.css">
  <title>Landing Page</title>
</head>


<body>
  <div id="landing-header-container">
    <div id="landing-header">
      <div id="header-left">
        <img src="/res/icons/main-logo.jpg" alt="">
        <h1>ST. JOHN TRADING</h1>
      </div>
      <div id="header-right">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about-section">About</a></li>
          <li><a href="#products-section">Products</a></li>
          <li>Contact</li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
    <input type="text">
  </div>
  <div id="hero-section">
    <div id="hero-text-section">
      <div id="hero-text-section-inside">
        <h1>PREMIUM QUALITY DRESSED CHICKEN PRODUCTS</h1>
        <form action="/login">
          <button id="hero-order-now-btn">ORDER NOW</button>
        </form>
      </div>
    </div>
    <div id="hero-image-section">
      <img src="/res/images/dressed-chicken.jpg"
        alt="">
    </div>
  </div>

  <div id="about-section">
    <h1>About Us</h1>
    <div id="about-content">
      <div id="about-image-section">
        <img src="res/icons/main-logo.jpg"
          alt="">
      </div>
      <div id="about-text-section">
        <div id="about-text-section-inside">
          <div id="h2">ST. JOHN TRADING</div>
          <p>St. John Trading is the Number One Trusted Distributor of Fresh Dressed Chicken Products in Iloilo City. We
            offer a range orf premium quality chicken products that meet the highest standards for quality and taste.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="products-section">
    <h1>AVAILABLE PRODUCT</h1>
    <div id="available-product-content">
      <div id="available-product-image">
        <img src="https://zamura.rw/wp-content/uploads/2017/10/Us3sqvd9Nm.jpg" alt="">
      </div>
      <div id="available-product-details">
        <h2>P 170.00</h2>
        <form action="/login">
          <button>ORDER NOW</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>